/* ****** MAIN */
.container-home {
  display: grid;
  grid-template-areas: 
    "titleGrid titleGrid"
    "carouselGrid carouselGrid"
    "visitGrid formGrid"
    "cardGrid cardGrid";
  grid-template-columns: repeat( 2, 1fr);
}

/* ****** GRID */
.titleGrid {
  grid-area: titleGrid;
}
.carouselGrid {
  grid-area: carouselGrid;
}
.visitGrid {
  grid-area: visitGrid;
}
.formGrid {
  grid-area: formGrid;
}
.cardGrid {
  grid-area: cardGrid;
}

/* ****** TITLE */
.home-title {
  text-align: center;
  padding: 5rem 0;
  background: url("https://ia.media-imdb.com/images/M/MV5BNjk1NzY5MjIwOV5BMl5BanBnXkFtZTgwNjE2OTc3MDI@._V1.jpg") no-repeat fixed center top #000;
}
.title-h {
  font-size: 2.5rem;
  font-family: var(--family-away);
  color: var(--blue);
  margin: 0;
  animation: fadein 3s;
}
@-webkit-keyframes fadein {
  from {
      opacity:0;
      transform: translateY(10px)
  }
  to {
      opacity:1;
      transform: translateY(0px)
  }
}

/* ****** CAROUSEL */
.container-carousel {
  background-color: var(--white);
  padding: 3rem 0 0;
}

/* ****** CONTAINERS */
.home-last, .home-search, .home-card {
  margin-top: 3rem;
}


@media screen and (max-width: 769px) {
  .container-home {
    display: grid;
    grid-template-areas: 
      "titleGrid"
      "carouselGrid"
      "visitGrid"
      "formGrid"
      "cardGrid";
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .home-title {
    padding: 1rem;
  }
}
