<div class="container-home">  
  <section class="home-title titleGrid">
    <h1 class="title-h">A long, long time ago in a galaxy far, far away...</h1>
  </section>

  <section class="container-carousel carouselGrid">
    <app-carousel
      *ngIf="persons"
      [title]="titleCarousel"
      [persons]="persons"
      [imgPersons]=imgPersons></app-carousel>
  </section>

  <section class="container home-last visitGrid">
    <app-list-last-visit></app-list-last-visit>
  </section>
  
  <section class="container home-search formGrid">
    <app-search-film
      (handlerSearchFilm)="searchFilm($event)"
      (handlerShowAllFilm)="showAllFilm()"
      (handlerResetAllFilm)="resetAllFilm()"></app-search-film>
  </section>

  <section class="home-card cardGrid">
    <app-show-film
      [films]="films"
      [imgFilm]="imgFilm"
      [isLoading]="isLoading"
      [countFilms]="countFilms"></app-show-film>
  </section>
</div>
